.big-btn {
  padding: 0.6rem !important;
  color: #002A41 !important;
  border: 0.125rem solid #002A41 !important; 
  background-color: white !important;
  font-size: 1rem !important;
  white-space: nowrap; 
  width: 100%; 
}

@media (max-width: 768px) {
  .big-btn {
      padding: 0.625rem 2rem; 
      min-width: auto; 
      font-size: 0.875rem; 
  }
}

  .big-btn:hover {
    background-color: #002A41 !important;
    color: white !important;
  }
  
  
  
