* {
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  background-image: url('background-image.jpg');
  background-size: cover;
  background-position: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

h4 {
  color:#002A41
}

.form-control {
  margin-bottom: 15px;
}


.gradient {
  background: radial-gradient(ellipse at left bottom,#003957 5%, #022A41 95%); 
  color: white !important; 
}

.logo {
  height: 40px; 
}

.separator {
  display: inline-block;
  width: 1.5px; /* Grosor de la línea */
  height: 40px; /* Altura de la línea */
  background-color: #DFDFDF; /* Color de la línea */
  margin-right: 20px; /* Espacio entre la línea y los enlaces */
  margin-left: 20px;
}

.separator-horizontal {
  width: 80%;               /* Asegura que ocupe todo el ancho del contenedor */
  border-bottom: 1px solid #41617A;  /* La línea visible */
  margin: 10px 10px;            /* Espacio alrededor del separador */
}


.navbar-nav .nav-link {
  margin: 0 8px; /* Espaciado entre los enlaces */
  color: #002A41
}


.navbar-nav .nav-link.home-link {
  color: #41617A !important; 
}

.big-title { 
  font-size: 3.5rem;
  line-height: 0.9;
}

.bussines {
  display: inline-block;
  transform: scale(0.5); 
  animation: grow 3s ease forwards; 
  position: relative; 
}

.bussines::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: -2px; 
  height: 4px; 
  background-color: #0896FA; 
  width: 0; 
  transition: width 1s ease 1s; 
}

.bussines::after {
  animation: underline 1s ease forwards; 
  animation-delay: 1s; 
}

@keyframes grow {
  to {
    transform: scale(1); /* Escala normal */
  }
}

@keyframes underline {
  to {
    width: 100%; /* Se expande al 100% */
  }
}






/* Aplica estilos al placeholder de los inputs */
input::placeholder, 
textarea::placeholder {
  color: #002A41 !important;       
  font-size: 0.9rem !important; 
  font-weight: bold;    
  font-family: 'Roboto', sans-serif; 
    
}

footer a i {
  color: #002A41; 
  font-size: 2rem;

}

